# Node modules
node_modules/

# Compiled JavaScript
/dist/
*.js
*.js.map

# TypeScript declaration files
*.d.ts
*.d.ts.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
*.swp

# Optional: environment variables
.env

# Configuration files
.stylelintrc.json
package.json
package-lock.json